body {
    background-color: #222;
}

h1 {
    color: #fff;
    width: 100%;
    text-align: center;
}

#chat-area {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 4px;
}

.input {            
    width: 100%;
}

.submit-form {
    width: 80%;
    margin: 20px auto;
}

.submit-area{
    justify-content: center;
    display: flex;
    margin: 20px auto;
    width: 80%;            
}       

textarea {
    width: 100%;
    background: #555;
    color: #fff;
}

.box {
    width: 96%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #C4DBFE;
    margin: 10px auto;            
}

.answer {
    background-color: aquamarine;
}

button {
    background-color: #004089;
    color: white;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}
